flows1.json
[{"id":"75a6a1f3.28d28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"50e31468.19c79c","type":"inject","z":"75a6a1f3.28d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["bde9c525.dc2af8"]]},{"id":"33b32528.78734a","type":"files","z":"75a6a1f3.28d28","files_name":"","host":"837558c7.477998","files_operation":"fPutObject","files_bucket":"pictures","files_object":"test.jpg","files_filepath":"/Users/maril/OneDrive/Desktop/test.jpg","files_metadata":"","x":560,"y":220,"wires":[["caa61dfd.acf28"],["65ca2f75.5381a"]]},{"id":"cb286ff5.10bf8","type":"inject","z":"75a6a1f3.28d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["5b90e476.2c6b2c"]]},{"id":"caa61dfd.acf28","type":"debug","z":"75a6a1f3.28d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":300,"wires":[]},{"id":"5b90e476.2c6b2c","type":"buckets","z":"75a6a1f3.28d28","buckets_name":"","host":"837558c7.477998","buckets_operation":"makeBucket","buckets_bucket":"pictures","buckets_region":"","buckets_prefix":"","buckets_recursive":false,"buckets_start_after":"","x":450,"y":100,"wires":[["fc14a18.5fcbe6"],[]]},{"id":"65ca2f75.5381a","type":"debug","z":"75a6a1f3.28d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"dd4b459f.2c6c88","type":"inject","z":"75a6a1f3.28d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":460,"wires":[["1e59c8e.e56f337"]]},{"id":"2023df2c.8e476","type":"comment","z":"75a6a1f3.28d28","name":"Create Bucket","info":"","x":110,"y":40,"wires":[]},{"id":"c8a2654a.76c5a8","type":"comment","z":"75a6a1f3.28d28","name":"Download and delete file","info":"","x":150,"y":280,"wires":[]},{"id":"e922a51b.948d98","type":"comment","z":"75a6a1f3.28d28","name":"Upload file","info":"","x":100,"y":160,"wires":[]},{"id":"c0bb8429.d69828","type":"inject","z":"75a6a1f3.28d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":340,"wires":[["1ea0090.5bc7ff7"]]},{"id":"1ea0090.5bc7ff7","type":"files","z":"75a6a1f3.28d28","files_name":"","host":"837558c7.477998","files_operation":"fGetObject","files_bucket":"pictures","files_object":"test.jpg","files_filepath":"/Users/maril/OneDrive/Desktop/test.jpg","files_metadata":"","x":360,"y":340,"wires":[["1086abf2.ccecf4"],[]]},{"id":"c2c5b556.ddafb8","type":"comment","z":"75a6a1f3.28d28","name":"Get Url","info":"","x":90,"y":400,"wires":[]},{"id":"bde9c525.dc2af8","type":"function","z":"75a6a1f3.28d28","name":"ADD METADATA","func":"msg.metaData={'x-amz-meta-id': '1', 'x-amz-meta-date': '10/5/2022'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":220,"wires":[["33b32528.78734a"]]},{"id":"e343ebd5.2e4d18","type":"notifications","z":"75a6a1f3.28d28","notifications_name":"","host":"837558c7.477998","notifications_operation":"getBucketNotification","notifications_bucket":"pictures","notifications_notificationconfig":"","notifications_prefix":"","notifications_suffix":"","notifications_events":"","notifications_events_object_created_put":true,"notifications_events_object_created_post":true,"notifications_events_object_created_copy":true,"notifications_events_object_created_complete_multipart_upload":true,"notifications_events_object_removed_delete":true,"notifications_events_object_accessed_get":true,"notifications_events_object_accessed_head":true,"x":410,"y":580,"wires":[["55d92806.16b518"],[]]},{"id":"52f56cd7.a9c4f4","type":"inject","z":"75a6a1f3.28d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":580,"wires":[["e343ebd5.2e4d18"]]},{"id":"72751108.9c10e","type":"comment","z":"75a6a1f3.28d28","name":"Get Notification","info":"","x":120,"y":520,"wires":[]},{"id":"1086abf2.ccecf4","type":"objects","z":"75a6a1f3.28d28","objects_name":"","host":"837558c7.477998","objects_operation":"removeObject","objects_bucket":"pictures","objects_object":"test.jpg","objects_offset":"","objects_length":"","objects_stream":"","objects_size":"","objects_metadata":"","objects_sourceobject":"","objects_conditions":"","objects_objectslist":[],"objects_prefix":"","objects_etag":"","objects_datetime":"","x":590,"y":340,"wires":[["caa61dfd.acf28"],["65ca2f75.5381a"]]},{"id":"55d92806.16b518","type":"pythonshell in","z":"75a6a1f3.28d28","name":"sendemail","pyfile":"/Users/maril/OneDrive/Documents/DSS_Fertilizer_final/send.py","virtualenv":"","continuous":false,"stdInData":false,"x":750,"y":580,"wires":[["dd19dc1a.6e8d1"]]},{"id":"f9fa8453.058ac8","type":"debug","z":"75a6a1f3.28d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":680,"wires":[]},{"id":"dd19dc1a.6e8d1","type":"files","z":"75a6a1f3.28d28","files_name":"","host":"837558c7.477998","files_operation":"fPutObject","files_bucket":"results","files_object":"GRD00001.bin","files_filepath":"/Users/maril/OneDrive/Documents/DSS_Fertilizer_final/GRD00001.bin","files_metadata":"","x":400,"y":680,"wires":[["d7575d3a.2a082"],[]]},{"id":"d7575d3a.2a082","type":"files","z":"75a6a1f3.28d28","files_name":"","host":"837558c7.477998","files_operation":"fPutObject","files_bucket":"results","files_object":"taskdata.xml","files_filepath":"/Users/maril/OneDrive/Documents/DSS_Fertilizer_final/taskdata.xml","files_metadata":"","x":700,"y":680,"wires":[["f9fa8453.058ac8"],[]]},{"id":"fc14a18.5fcbe6","type":"buckets","z":"75a6a1f3.28d28","buckets_name":"","host":"837558c7.477998","buckets_operation":"makeBucket","buckets_bucket":"results","buckets_region":"","buckets_prefix":"","buckets_recursive":false,"buckets_start_after":"","x":690,"y":100,"wires":[["caa61dfd.acf28"],["65ca2f75.5381a"]]},{"id":"53ae5225.65653c","type":"comment","z":"75a6a1f3.28d28","name":"Run dds and send email","info":"","x":730,"y":520,"wires":[]},{"id":"745eea3d.dd52d4","type":"comment","z":"75a6a1f3.28d28","name":"Upload files results","info":"","x":510,"y":640,"wires":[]},{"id":"1e59c8e.e56f337","type":"presigned","z":"75a6a1f3.28d28","presigned_name":"","host":"837558c7.477998","presigned_operation":"presignedGetObject","presigned_bucket":"pictures","presigned_object":"test.jpg","presigned_expiry":"10000","presigned_req_params":"","presigned_resp_headers":"","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":500,"y":460,"wires":[["caa61dfd.acf28"],["65ca2f75.5381a"]]},{"id":"837558c7.477998","type":"minio-config","name":"MinIO Instance","host":"127.0.0.1","port":"9000","useSsl":false}]