flows2.json
[{"id":"399e4313.690b7c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e00e491.a1814b8","type":"files","z":"399e4313.690b7c","files_name":"","host":"837558c7.477998","files_operation":"fPutObject","files_bucket":"pictures","files_object":"test.jpg","files_filepath":"/Users/maril/OneDrive/Desktop/test.jpg","files_metadata":"","x":1160,"y":120,"wires":[["58b9ad9.38e3354"],[]]},{"id":"8cb1ac1f.dfe13","type":"inject","z":"399e4313.690b7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["75d173f7.53d1ec"]]},{"id":"75d173f7.53d1ec","type":"buckets","z":"399e4313.690b7c","buckets_name":"","host":"837558c7.477998","buckets_operation":"makeBucket","buckets_bucket":"pictures","buckets_region":"","buckets_prefix":"","buckets_recursive":false,"buckets_start_after":"","x":410,"y":120,"wires":[["734e5dca.346ae4"],[]]},{"id":"35cbc844.3ad3a8","type":"presigned","z":"399e4313.690b7c","presigned_name":"","host":"837558c7.477998","presigned_operation":"presignedURL","presigned_bucket":"pictures","presigned_object":"test","presigned_expiry":"10000","presigned_req_params":"","presigned_resp_headers":"","presigned_issue":"","presigned_policy_bucket":"","presigned_policy_key":"","presigned_policy_key_prefix":"","presigned_policy_expires":"","presigned_policy_content_type":"","presigned_policy_content_length_range_from":"","presigned_policy_content_length_range_to":"","x":700,"y":240,"wires":[["c5bc1ca5.dd221"],[]]},{"id":"6533225c.20692c","type":"comment","z":"399e4313.690b7c","name":"Create Bucket","info":"","x":390,"y":80,"wires":[]},{"id":"bc569d49.03101","type":"comment","z":"399e4313.690b7c","name":"Download and delete file","info":"","x":210,"y":200,"wires":[]},{"id":"aa885ee8.30927","type":"comment","z":"399e4313.690b7c","name":"Upload file","info":"","x":880,"y":80,"wires":[]},{"id":"58b9ad9.38e3354","type":"files","z":"399e4313.690b7c","files_name":"","host":"837558c7.477998","files_operation":"fGetObject","files_bucket":"pictures","files_object":"test.jpg","files_filepath":"/Users/maril/OneDrive/Desktop/test.jpg","files_metadata":"","x":180,"y":240,"wires":[["63803329.d63e9c"],[]]},{"id":"48ad3b1d.2b5d04","type":"comment","z":"399e4313.690b7c","name":"Get Url","info":"","x":710,"y":200,"wires":[]},{"id":"dfc00325.ed48c","type":"function","z":"399e4313.690b7c","name":"ADD METADATA","func":"msg.metaData={'x-amz-meta-id': '1', 'x-amz-meta-date': '10/5/2022'};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":120,"wires":[["e00e491.a1814b8"]]},{"id":"c5bc1ca5.dd221","type":"notifications","z":"399e4313.690b7c","notifications_name":"","host":"837558c7.477998","notifications_operation":"getBucketNotification","notifications_bucket":"pictures","notifications_notificationconfig":"","notifications_prefix":"","notifications_suffix":"","notifications_events":"","notifications_events_object_created_put":true,"notifications_events_object_created_post":true,"notifications_events_object_created_copy":true,"notifications_events_object_created_complete_multipart_upload":true,"notifications_events_object_removed_delete":true,"notifications_events_object_accessed_get":true,"notifications_events_object_accessed_head":true,"x":1030,"y":240,"wires":[["259a48f3.6a9d48"],[]]},{"id":"3f524e66.01c902","type":"comment","z":"399e4313.690b7c","name":"Get Notification","info":"","x":980,"y":200,"wires":[]},{"id":"63803329.d63e9c","type":"objects","z":"399e4313.690b7c","objects_name":"","host":"837558c7.477998","objects_operation":"removeObject","objects_bucket":"pictures","objects_object":"test.jpg","objects_offset":"","objects_length":"","objects_stream":"","objects_size":"","objects_metadata":"","objects_sourceobject":"","objects_conditions":"","objects_objectslist":[],"objects_prefix":"","objects_etag":"","objects_datetime":"","x":450,"y":240,"wires":[["35cbc844.3ad3a8"],[]]},{"id":"259a48f3.6a9d48","type":"pythonshell in","z":"399e4313.690b7c","name":"sendemail","pyfile":"/Users/maril/OneDrive/Documents/DSS_Fertilizer_final/send.py","virtualenv":"","continuous":false,"stdInData":false,"x":170,"y":360,"wires":[["c7d780a3.3130d"]]},{"id":"9e322a0.e9115d8","type":"debug","z":"399e4313.690b7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":360,"wires":[]},{"id":"c7d780a3.3130d","type":"files","z":"399e4313.690b7c","files_name":"","host":"837558c7.477998","files_operation":"fPutObject","files_bucket":"results","files_object":"GRD00001.bin","files_filepath":"/Users/maril/OneDrive/Documents/DSS_Fertilizer_final/GRD00001.bin","files_metadata":"","x":440,"y":360,"wires":[["504a4a12.5acd04"],[]]},{"id":"504a4a12.5acd04","type":"files","z":"399e4313.690b7c","files_name":"","host":"837558c7.477998","files_operation":"fPutObject","files_bucket":"results","files_object":"taskdata.xml","files_filepath":"/Users/maril/OneDrive/Documents/DSS_Fertilizer_final/taskdata.xml","files_metadata":"","x":720,"y":360,"wires":[["9e322a0.e9115d8"],[]]},{"id":"734e5dca.346ae4","type":"buckets","z":"399e4313.690b7c","buckets_name":"","host":"837558c7.477998","buckets_operation":"makeBucket","buckets_bucket":"results","buckets_region":"","buckets_prefix":"","buckets_recursive":false,"buckets_start_after":"","x":630,"y":120,"wires":[["dfc00325.ed48c"],[]]},{"id":"c6182155.9692a","type":"comment","z":"399e4313.690b7c","name":"Run dds and send email","info":"","x":210,"y":300,"wires":[]},{"id":"53d2cd2d.d37724","type":"comment","z":"399e4313.690b7c","name":"Upload files results","info":"","x":570,"y":300,"wires":[]},{"id":"837558c7.477998","type":"minio-config","name":"MinIO Instance","host":"127.0.0.1","port":"9000","useSsl":false}]